// This SCSS is for Dashboard Component

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-sora), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // Header
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(14 12 21 / var(--tw-bg-opacity));
    backdrop-filter: blur(5px);
    border-color: rgb(37 33 52 / var(--tw-border-opacity));
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: inherit;

    .StyledLink {
      position:relative;
      font-size: 1.5em;
      color: #ffff;
      text-decoration: none;
      margin-right: 20px;
      overflow: hidden;
      transition: color 0.3s ease;

      &:hover {
        color: rgba(255, 255, 255, 0.87);
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -8px; 
        width: 100%; 
        height: 10px; 
        background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #4b0082); // Rainbow gradient
        border-radius:70%; 
        transform: translateX(-50%); 
        transition: height 0.3s ease; 
      }
    
      &:hover::after {
        height: 12px; 
      }
    }

    .Title {
      font-size: 1.5em;
      color: #ffff;
      margin: 0;
    }
    
  }

  // Content
  .Content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
    flex-grow: 1;

    // Card inside Content
    .Card {
      position: relative;
      background-color: rgba(36, 36, 36, 0.5);
      color: rgba(255, 255, 255, 0.87);
      border-radius: 10px;
      overflow: hidden;
      width: 300px;
      margin: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      font-family: inherit;
      transition: opacity 0.3s ease;
      // This we have used to cut the above top right part of form...
      // top-left corner of the element.top-right corner.bottom-right corner. bottom-left corner.
      clip-path: polygon(0 0,85% 0, 100% 15%, 100% 100%, 0 100%);




      &:hover {
        .BackgroundImage {
          opacity: 0.1;
        }
      }

      // Background image inside Card
      .BackgroundImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        
      }

      // Card content inside Card
      .CardContent {
        position: relative;
        padding: 20px;
        text-align: center;

        .Title {
          position: relative;
          font-size: 1.5em;
          margin: 0;
          
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -8px; 
        width: 80%; 
        height: 2px; 
        background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #4b0082); // Rainbow gradient
        border-radius:70%; 
        transform: translateX(-50%); 
        transition: height 0.3s ease; 
      }
    
      &:hover::after {
        height: 6px; 
      }
        }

        .Description {
          font-size: 1em;
          line-height: 1.5;
          margin: 10px 0;
        }

        .Button {
         
          display: inline-block;
          margin: 4px;
          padding: 10px 20px;
          border-radius: 9px;
          border: 0.1px solid transparent;
          background-color: #1a1a1a;
          color: #646cff;
          text-decoration: none;
          border-color: #646cff;
          position: relative; 
          
          transition: border-color 0.5s, background-color 0.25s;
          clip-path: polygon(0 0, 90% 0, 100% 45%, 100% 100%, 0 100%);

          &:hover {
            border-color: #646cff;
            background-color: #333;
          }
        }
      }
    }
  }

  // Footer
  .FooterContainer {
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: inherit;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    .SocialLinks {
      display: flex;
      align-items: center;
      margin-bottom: 1px;

      a {
        color: rgba(255, 255, 255, 0.87);
        margin: 0 10px;
        font-size: 1.5em;
        transition: color 0.3s ease;

        &:hover {
          color: #646cff;
        }
      }
    }

    .Copyright {
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
